* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex:1;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background-color:#1F2937;
    padding: 1rem 0;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 24px;
  color: #f9faf8;
}

.nav ul {
    display: flex;
    list-style-type: none;
    gap: 2rem;
}

.nav a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero {
    background-color: #1F2937;
    padding: 7rem 0;
}

.hero-inner {
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
}

.hero-content {
    max-width: 450px;
}

.hero h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0.5rem;
}

.hero-subtext {
    color: #E5E7EB;
    font-size: 18px;
    margin-bottom: 1rem;
    line-height: 1.4;
}

.primary-btn {
    background-color: #3882F6;
    color: #f9faf8;
    border: none;
    padding: 10px 36px;
    border-radius: 6px;
    font-weight: 700;
    cursor: pointer;
    font-size: 18px;
}

.image-placeholder {
    display: flex;
    width: 480px;
    height: 280px;
    background-color: #6B7280;
    color:#f9faf8;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

.info {
    padding: 3rem 0;
    text-align: center;
}

.info h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 3rem;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 3.5rem;
    flex-wrap: wrap;
}

.card {
    max-width: 150px;
}

.card-image {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 12px;
    margin-bottom: 0.75rem; /*12px*/
}

.card p {
    font-size: 16px;
    color:#6B7280;
}

.quote {
    background-color: #E5E7EB;
    padding: 6rem 0;
}

blockquote {
    max-width: 780px;
    margin: 0 auto;
}

.quote p {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    line-height: 1.2;
    margin-bottom: 1rem;
}

blockquote footer {
    text-align: right;
    font-weight: 700;
    font-size: 18px;
}

.call-to-action {
    padding: 5rem 0;
}

.cta-content {
    background-color: #3882F6;
    color: #f9faf8;
    padding: 3rem 4rem;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.cta-text h3 {
    font-size: 24px;
    margin-bottom: 0.25rem;
}

.cta-text p {
    font-size: 18px;
}

.secondary-btn {
    background: transparent;
    border: 2px solid white;
    cursor: pointer;
    padding: 10px 36px;
    border-radius: 6px;
    font-weight: 700;
    color: #f9faf8;
    font-size: 18px;
}