* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex:1;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background-color:#1F2937;
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.logo {
  font-weight: 700;
  font-size: 24px;
  color: #f9faf8;
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.nav ul {
    display: flex;
    list-style-type: none;
    gap: 2rem;
}

.nav a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4rem 3rem;
}

.hero-content {
    max-width: 40%;
}

.hero h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.hero-subtext {
    color: #E5E7EB;
    font-size: 18px;
}

.hero button {
    background-color: #3882F6;
    color: #f9faf8;
    border: none;
}

.hero-image .image-placeholder {
    display: flex;
}