* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex:1;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background-color:#1F2937;
    padding: 1rem 0;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 24px;
  color: #f9faf8;
}

.nav ul {
    display: flex;
    list-style-type: none;
    gap: 2rem;
}

.nav a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero {
    background-color: #1F2937;
    padding: 7rem 0;
}

.hero-inner {
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
}

.hero-content {
    max-width: 450px;
}

.hero h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0.5rem;
}

.hero-subtext {
    color: #E5E7EB;
    font-size: 18px;
    margin-bottom: 1rem;
    line-height: 1.4;
}

.primary-btn {
    background-color: #3882F6;
    color: #f9faf8;
    border: none;
    padding: 10px 36px;
    border-radius: 6px;
    font-weight: 700;
    cursor: pointer;
    font-size: 18px;
}

.image-placeholder {
    display: flex;
    width: 480px;
    height: 280px;
    background-color: #6B7280;
    color:#f9faf8;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}